Header set Content-Security-Policy "default-src 'self'; img-src 'self' https://cf.geekdo-static.com; script-src-attr 'unsafe-inline'; script-src-elem 'self' 'unsafe-inline'; frame-ancestors 'none'; form-action 'self'; upgrade-insecure-requests"
Header set Referrer-Policy "same-origin"
Header set Permissions-Policy "geolocation=()"
