body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E7E7EA;
}

a, a:link {
  color: black;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  color: #005bca;
  text-decoration: underline;
}

header {
  background-color: #3F3A60;
  color: white;
  padding: 0.5em 1em;
}

h1 {
  margin: 0;
  background-image: url('navbar-logo-bgg-b2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 0.5em;
  font-size: 1.2em;
}

h2 {
  margin: 0;
  font-size: 1.5em;
}

h1 span {
  visibility: hidden;
}

main {
  padding: 0 0.5em 0 0.5em;
}

ul {
  list-style-type: disc;
  color: #FF5100;
}
dd {
  margin-left: 0;
  padding-left: 2em;
}

footer {
  text-align: center;
  background-color: white;
  width: 100%;
}

@media (max-width: 576px) {
  footer img {
    width: 100%;
  } 
}

table {
  width: 85%;
  margin-top: 0em;
  margin-bottom: 1em;
}

table caption {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0.5em 0;
  font-size: 1.5em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table th, table td {
  padding: 0.2em 0.3em;
}

table .colName {
  width: 20%;
}

table .colUser {
}

table tbody td:nth-child(2n+1) {
  width: 20%;
}

table tbody td:nth-child(2n) {
  width: 5%;
}

thead th {
  background-color: #3F3A60;
  color: white;
  border-width: 0;
  vertical-align: bottom;
}

thead th.userName {
  color: #FF5100;
  font-size: 1.5em;
}

tbody th {
  text-align: left;
}

tr {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #C0CAD4; /*#ffff99;*/
}

form {
  margin-top: 1em;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form .columns {
  column-count: 2;
  max-width: 50%;
}

form .options {
  max-width: 50%;
}

@media (max-width: 576px) {
  form .columns {
    column-count: 1;
    max-width: 100%;
  } 
  
  form .options {
    max-width: 100%;
  } 
}

div.content {
  border: 0;
  margin: 1em 0.5em 1em 0.5em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
}

form fieldset {
  border: 0;
  margin: 0 0.5em 1em 0.5em;
  padding: 0em;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}

form fieldset legend {
  background-color: white;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  border-radius: 5px;
  padding: 0.5em;
  box-sizing: border-box;
}

form fieldset dl,
form fieldset p {
  margin: 1em;
}

form fieldset dt {
  margin-bottom: 0.2em;
  font-weight: bold;
}

form fieldset dt label {
  font-weight: bold;
}

form fieldset dd {
  margin-bottom: 0.75em;
}

form p.buttons {
  text-align: right;
  padding-right: 1.5em;
}

div.loader { 
  position: fixed; 
  top: 5%; 
  left: 12.5%; 
  z-index: 20; 
  width: 75%; 
  text-align: center; 
  background: #000; 
  border: 1px solid #000;
  color: white;
  padding: 1em 0.5em;
}

div.loader img {
  margin: 0.5em 0;
}

button, input[type=submit] {
  background-color: #1e8650;
  color: white;
  border-radius: 4px;
  font-size: 1.2em;
  padding: 0.1em 0.7em;
}

button:hover, input[type=submit]:hover,
button:active, input[type=submit]:active {
  background-color: #1A7244;
}

/* Developement styles */
div.debug {
  border: 2px dashed black;
}